.navbar {
  background-color: #001F3F
}

.navbar-brand img{
  height:90px;
  width:90px;
  margin-left: 5%;
}

.navbar-nav{
  margin-left: 30%;
  color: white;
}

.d-flex{
  width: 500px
}

.nav-item{
  text-decoration: white;
  column-gap: 40px;
  font-size: larger;
  font-weight: bolder;
}
.nav-link{
  color: white;
}

/*hero section*/
.hero{
   background-image: url(hero-bg.jpg);
   height: 800px;
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 80%, 0 85%);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2; /* Keep the text/content above the overlay */
}