.navbar {
  background-color: #001F3F
}

.navbar-brand img{
  height:90px;
  width:90px;
  margin-left: 5%;
}

.navbar-nav{
  margin-left: 30%;
  color: white;
}

.d-flex{
  width: 500px;
  padding-right: 5%;
}

.nav-item{
  text-decoration: white;
  column-gap: 40px;
  font-size: larger;
  font-weight: bolder;
}
.nav-link{
  color: white;
}

/*hero section*/
.hero{
   background-image: url(hero-bg.jpg);
   position: relative;
   clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 80%, 0 85%);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2; /* Keep the text/content above the overlay */
}

/*sliders*/
.carousel-inner{
  height: 700px;
}

.carousel-control-prev{
  background: none;
  outline: none;
  border: none;
  margin-top: 100px;
  margin-left: 8%;
}

.carousel-control-next{
  background: none;
  outline: none;
  border: none;
  margin-top: 100px;
  margin-right: 8%;
}

.carousel-item{
  font-weight: bolder;
  margin-left: 30%;
  margin-top: 230px;
}

.carousel-item h1 {
    font-weight: bolder;
    font-size: 65px;
    color: white;
    padding-left: 6%;
}

.carousel-item h2{
    color: white;
}

/*main body*/
.btn btn-outline-primary{
   width: 150px;
}

.card {
  margin-left: 20%;
  margin-top: 2%;
  display: flex;
  flex-direction: row; 
  align-items: center; 
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card img {
  width: 14rem;
  height: 15rem;
  object-fit: cover; 
  border-radius: 8px 0 0 8px; 
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1.5rem; 
}

.card h1 {
  font-size: 24px;
  margin: 0;
}

.card p {
  font-size: 18px;
  margin: 0;
  margin-top: 0.5rem;
}

.card-buttons {
  margin-top: auto; 
  display: flex;
  gap: 1rem; 
}

.card-buttons button {
  padding: 0.5rem 1rem; 
}
